# Boletín  Oficial en Criollo

## Lo importante del {{today}}

{% for type in types %}
### {{type}}
{% for result in results %}{% if result.type == type %}
#### {{result.area}}

{{result.summary}}

Importancia: {{result.score}}
Tags: {% for tag in result.tags %}{{tag}}, {% endfor %}
[Link a artículo completo]({{result.url}})
{% endif %}{% endfor %}{% endfor %}