# Boletín  Oficial cortito y en Criollo

## Lo importante del Boletín Oficial del {{today}}

{% for area in areas %}
### {{area}}
{% for result in results %}{% if result.area == area %}
#### {{result.type}}

{{result.summary}}

[Link a artículo completo]({{result.url}})
{% endif %}{% endfor %}{% endfor %}